
body{
	background-image:url("../../assets/images/world-map-background.gif");
	background-position:center, no-repeat;
	background-size: 100% 100%;
}

h1{
	text-align: center;
	font-size:50px;
	margin: 20px 0 20px 0;
	font-weight:20px;
	font: Georgia, sans-serif;

}

img{
	width:500px;
	height:auto;
	margin: 0 0 20px 0;
}

h2{
	text-align: center;
	font-size:40px;
}

div{
	width:400px;
	height:100px;
}

h3{
	text-align: center;
	margin: 0 0 10px 0;
	font-size:30px;

}

#word-blanks{
	margin-top:20px;
}
